<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xuecheng.manage_course.dao.TeachplanMapper">
    <resultMap id="teachplanMap" type="com.xuecheng.framework.domain.course.ext.TeachplanNode">
        <id column="one_id" property="id"/>
        <result column="one_name" property="pname"/>
        <collection property="children" ofType="com.xuecheng.framework.domain.course.ext.TeachplanNode">
            <id column="tow_id" property="id"/>
            <result column="tow_name" property="pname"/>
            <collection property="children" ofType="com.xuecheng.framework.domain.course.ext.TeachplanNode">
                <id column="three_id" property="id"/>
                <result column="three_name" property="pname"/>
            </collection>
        </collection>
    </resultMap>

    <select id="findTeachPlanById" parameterType="java.lang.String" resultMap="teachplanMap">
        SELECT t1.id one_id,
        t1.pname one_name,
        t2.id tow_id,
        t2.pname tow_name,
        t3.id three_id,
        t3.pname three_name
        FROM teachplan t1
        LEFT JOIN teachplan t2 ON t1.id = t2.parentid
        LEFT JOIN teachplan t3 ON t2.id = t3.parentid
        WHERE t1.parentid = '0'
        <if test="_parameter!=null and _parameter!=''">
            AND t1.courseid = #{courseId}
        </if>
    </select>
</mapper>